/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  background-color: #f2f7f2;
}

/* Google map setup */
#map {
  min-height: 400px;
}
@media only screen and (min-height: 1000px) {
  #map {
    min-height: 600px;
  }
}
@media only screen and (min-height: 1200px) {
  #map {
    min-height: 900px;
  }
}
.map-col {
  margin-bottom: 20px;
  min-height: 400px;
  min-width: 200px;
  flex: 1 0 200px;
}

/* Google street view setup */
#street-view {
  height: 300px;
  width: 300px;
  margin: 0 auto;
}
@media (min-width: 992px) {
  #street-view {
    width: 350;
  }
}
@media (min-width: 1200px) {
  #street-view {
    width: 400;
  }
}

/* Min/max height/width for venue photos from Foursquare */
.venue-photos {
  min-height: 200px;
  min-width: 200px;
  max-height: 300px;
  max-width: 300px;
  margin-bottom: 5px;
}

/* Address lines for venue */
td p {
  margin-bottom: 2px;
}

/* Foursquare logo image dimensions*/
#fs-logo {
  width: 35px;
  height: 35px;
}

/* Links in venue section */
.venue-link {
  color: #443850;
}

/* Allow buttons below search box to take up 100% of width */
.btn-group-flex {
  display: flex;
}
.btn-flex {
  flex: 1;
}

.navbar {
  background-color: #443850;
}

/*
 * Allow user to scroll navbar list when screen is smaller than list.
 */
.navbar .navbar-collapse.in {
  max-height: 100vh !important;
  overflow-y: scroll !important;
  overflow-x: hidden !important;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
.sidebar a {
  color: #8e5572;
}
.sidebar .input-group {
  margin-bottom: 5px;
}
.sidebar .btn-group {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #bbbe64;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #bcaa99;
}


/*
 * Main content
 */
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

/*
 * Placeholder dashboard ideas
 */
.placeholders {
  margin-bottom: 30px;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 5%;
}

/* Fix problems with bootstrap buttons not displaying properly in input-group */
.input-group button {
  background-color: buttonface;
}
button:hover,
.input-group button:hover
{
  background-color: darkgrey;
}
