#map {
  bottom: 0px;
  height: 100%;
  left: 362px;
  position: absolute;
  right: 0px;
}

.options-box {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  height: 100%;
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  width: 340px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

body {
  height: 100%;
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.grid {
  margin: 0 auto;
  width: 100%;
  max-width: 932px;
  height: 932px;
  padding: 10px;
  z-index: 10000;
}

.upper-row {
  margin-bottom: 10px;
}

.lower-row {
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  .upper-row {
    height: 33.33%;
  }

  .lower-row {
    height: 66.67%;
  }

  .col-6 {
      width: 100%;
      height: 50%
  }

  .lower-row {
    flex-wrap: wrap;
  }

  .venue-info {
    margin-top: 10px;
    order: 2;
  }

  .venue-pics {
    margin-bottom: 10px;
    order: 1;
  }
}

@media only screen and (min-width: 768px) {
  .upper-row {
    height: 50%;
  }

  .lower-row {
    height: 50%;
  }

  .col-6 {
      width: 50%;
  }

  .venue-info {
    margin-right: 10px;
    order: 1;
  }

  .venue-pics {
    margin-left: 10px;
    order: 2;
  }
}

.row {
    width: 100%;
    display: flex;
}

.col-12 {
    width: 100%;
}

.venue-info {
  background: yellow;
}

.venue-pics {
  background: orange;
}

.button-grp {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.button {
  width: 100%;
  display: inline-block;
  background: lightblue;
  height: 50px;
  text-align: center;
  font-size: 38px;
  line-height: 100%;
  border: 2px solid darkblue !important;
  padding-bottom: 5px;
  padding-top: 5px;
}

.button:hover {
  background: darkblue;
  color: white;
  border-color: lightblue;
}

.rounded-right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.rounded-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.flex-col {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.full-height {
  height: 100%;
}

.justify-center {
  justify-content: center;
}
